{% extends "navbar.html" %}
{% block content %}

<div class="pt-5 h-100
 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">RoomSense</h1>
    <div class="col-lg-4 mx-auto my-auto">
      <p class="lead mb-4"> RoomSense is a 3rd Year IOT project developed by Martin Macicha</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/sensors"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Active Sensors</button></a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Help</button>
      </div>
      <div class="overflow-hidden">
      <div class="container-sm px-5">
        <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/raspberry-pi-logo.png" class="img-fluid rounded-3 shadow mb-5" alt="Raspberry Pi logo"  loading="lazy">
      </div>
    </div>
    </div>
    
  </div>


{% endblock %}